<div id="about">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h2 class="heading">About Me</h2>
          </div>
          <div class="col-md-8">
              <p>
                  I'm passionate about building excellent software that improves  the lives of those around me.I specialize in 
                  creating software for clients ranging from individuals and small-business all the way to large enterprise corporations.
                  All of my work is produced locally from Nashik
                  
              </p>
              <p>
                I'm currently working for Sai infotech,as Software Engineer . 
              </p>
          </div>
      </div>
  </div>
</div>