<div id="experience" class="background-alt">
  <h2 class="heading">Experience And Education</h2>
  <div id="experience-timeline">
    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">June 2019 – Present</span><div data-date="June 2019 – Present" class="vtimeline-content">
       
      <h3>Sai Infotech Nashik</h3>
        <h4>Software Engineer</h4>
        <p>
            Part of the development team responsible for building Web App,Windows Application and Mobile applications.
            
        </p>
        <br>
        <p>
         <b>Development tools:</b> Visual Studio,Andoird Studio. 
        </p><br>
        <p>
          <b>Technologies</b>:Angular 8,Node.js, Andoird, VB.Net,MYSQL,MSSQL.
        </p>
    </div></div></div>

    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">June 2016 – November 2016</span><div data-date="June 2016 – November 2016" class="vtimeline-content">
      <h3>Digi-Shell Infotech</h3>
      <h4>Web Developer</h4>
      <p>
        Part of the development team responsible for building websites and Maintaining backend 
      </p>
      <br>
      <p>
        <b>Development tools:</b>Visual Studio 
       </p><br>
       <p>
         <b>Technologies</b>:HTML5,JAVASCRIPT,Bootstrap,PDO,PHP,MYSQL.
       </p>
  </div></div></div>

    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">June 2016 – June 2019</span><div data-date="June 2016 – June 2019" class="vtimeline-content">
        <h3>Pune University</h3>
        <h4>Bachelor of Engineering In Information Technology</h4>
        <p>
            Integrated bachelor's degree, achieving a first-class honours with an 64.7%. 
        </p>
        <br>
        <p>
          <b>Final Year Project:</b> <a id="current-projects-link" [scrollTo]="'#current-projects'" [scrollDuration]="500" >Crime Analysis and Pattern Detection</a>.
          <br>
          <b>Technologies</b>:Anroid,WEKA Tool,R,Python.
        </p>
    </div></div></div>


    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">June 2012 – June 2016</span><div data-date="June 2012 – June 2016" class="vtimeline-content">
      <h3>Pune University</h3>
      <h4>Diploma In Information Technology</h4>
      <p>
          Integrated Diploma, achieving a first-class honours with an 72%. 
      </p>
      <br>
      <p>
        <b>Final Year Project:</b> <a id="current-projects-link" [scrollTo]="'#current-projects'" [scrollDuration]="500" >Crime Analysis and Pattern Detection</a>.
        <br>
        <b>Technologies</b>:Anroid,IOT.
      </p>
  </div></div></div>
</div>
</div>

