<div id="projects" class="background-alt">
  <h2 class="heading">Projects</h2>
  <div class="container">
      <div class="row">

          <div class="project shadow-large">
              <div class="project-image">
                  <img src="https://www.stridec.com/pub/media/wysiwyg/blog/example_20190110_2.jpg"  height="300px" width="300px"/>
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3 >Sales And Product Management(Web App)</h3>
        
      <p>
        In This Application salesman take an Order From Local Retailer Shopes.
        That Order display to the distributor and dispatch the order from Distributor.
      </p>
      <p>
        In order to help distributor through this process, 
        can easy take an Order From Local Shopes And Salesman also Track the Retailer shop By showing route from its recent location.
      </p>
      <b>Technologies</b>:TypeScript,Angular 8,Node.js, Andoird,Cordova,MYSQL.

                  <!-- <a href="https://play.google.com/store/apps/details?id=com.JamesWatson.Slide">Play Store</a> --
                  <a routerLink="/projects/slide" routerLinkActive="active">Full Project Details</a> --
                  <a href="https://www.youtube.com/watch?v=KXl2fQG1tjw">Promo Video</a> -->
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->

          <div class="project shadow-large">
              <div class="project-image">
                  <img src="https://thenypost.files.wordpress.com/2018/03/french-waiter-fired-feature.jpg?quality=80&strip=all"  height="300px" width="300px" />
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3 >Innovative Waiter Pad Android App for Restaurants </h3>
                  
                  
                  <p>
                    Accept food orders at restaurant and generate KOT instantly. Smart Waiter / KOT App also has “Digital Login ID Password” so you can present food items with pictures, description etc.
                    <br>
                        > Manage KOT / Orders efficiently<br>
                        > Enhance guest experience<br>
                        > Manage Menu dynamically<br>
                
                  </p>
                  <b>Technologies</b>:Andoird,MYSQL.
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->

          <div class="project shadow-large">
            <div class="project-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT0cZDjqn7oH7Ya9lajgVAcWroLoewMz54kSvDFKVxxWel1oTQX&usqp=CAU"   height="300px" width="300px"  />
            </div>
            <!-- End .project-image -->
            <div class="project-info">
                <h3>Maintain Services and Follow Ups </h3> 
                
                <p>
                   Make an Windows application which can maintain job information which come form repaire .Showing all pending jobs and done job with reminder.
                </p>
               <p>
                  Today Follow Up reminder for and recipients.It's make To maintain all record of customer,job information,Jobs Payments(Pending And Recived).
               </p>
               <b>Technologies</b>: VB.NET,MSSQL.
            </div>
            <!-- End .project-info -->
        </div>
            <!-- End .project-info -->

      </div>
  </div>
</div>
<!-- End #projects -->