<div id="current-projects" class="background">
  <h2 class="heading">Recent Projects</h2>
  <div class="container">
      <div class="row">

          <div class="project shadow-large">
              <div class="project-image">
                  <img src="/assets/crime.jpg" height="300px" width="300px"/>
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3 routerLink="/projects/full-scale-music" routerLinkActive="active">Crime Analysis and Pattern Detection </h3>
                  
                  <p>
                    Our goal is to automatically detect patterns of crime. Among a large set of crimes that happen every year in a major city,
                    it is challenging, time-consuming, and labor-intensive for crime analysts to determine which ones may have been committed by
                    the same individual(s). If automated, data-driven tools for crime pattern detection are made available to assist analysts,
                    these tools could help police to better understand patterns of crime, leading to more precise attribution of past crimes,
                    and the apprehension of suspects.
                  </p>

                  <!-- <a href="/assets/projects/full-scale-music/initial-document.pdf">Project Specification Document</a> --
                  <a routerLink="/projects/full-scale-music" routerLinkActive="active">Full Project Details</a> --
                  <a href="https://jam-head.firebaseapp.com" target="_blank">Live Website</a>  -->
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->

          <div class="project shadow-large">
            <div class="project-image">
                <img src="https://img.rasset.ie/000fab3c-1600.jpg" height="300px" width="300px"/>
            </div>
            <!-- End .project-image -->
            <div class="project-info">
                <h3 >Smart Electricity Management</h3>
                
                <p>
                  Our goal is to handle the smart electricity meter by mobile device and control eletronic Equipment by mobile device remotely.
                  By using mobile device we can view our units of electricity anytime. And bill our electricity bill through our app
                </p>

                <!-- <a href="/assets/projects/full-scale-music/initial-document.pdf">Project Specification Document</a> --
                <a routerLink="/projects/full-scale-music" routerLinkActive="active">Full Project Details</a> --
                <a href="https://jam-head.firebaseapp.com" target="_blank">Live Website</a>  -->
            </div>
            <!-- End .project-info -->
        </div>
          <!-- End .project -->
      </div>
  </div>
</div>