<div class="project-page-header background-alt">
    <h1>Sales And Product Management(Web App)</h1>
  
    <ul>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>Android</li>
      <li>iOS</li>
      <li>Cordova</li>
      <li>MYSQL</li>
      
    </ul>
  </div>
  
  <div class="container project-page-contents">
    <div class="row">
      <p><a routerLink="/" routerLinkActive="active">Back to homepage</a></p>
      
  
      <h2>Overview</h2>
      <p>
        In This Application salesman take an Order From Local Retailer Shopes.
        That Order display to the distributor and dispatch the order from Distributor.
      </p>
      <p>
        In order to help distributor through this process, 
        can easy take an Order From Local Shopes And Salesman also Track the Retailer shop By showing route from its recent location.
      </p>
      <p>
        
      </p>
        With the help of Cordova we can convert Web Application into Mobile Application for ios and andoird users.
      <!-- <p>
        For a copy of the initial document with further details on the project <a href="/assets/projects/achilles/initial-document.pdf" target="_blank">click here.</a>
      </p>
      <p>
        For a copy of the interim report with details on the current state of the project <a href="/assets/projects/achilles/interim-report.pdf" target="_blank">click here.</a>
      </p> -->
  
      <h2>Screenshots</h2>
  
      <img class="img-responsive" src="/assets/projects/achilles/screenshot1.png" alt="Screenshots of the achilles rupture recovery application." />
  
    </div>
  </div>
  
  
  <app-footer></app-footer>
    